{% extends 'base/base.html'%}
{% load static %}
{% block content%}
<style>
    body {
    font-family: Arial, sans-serif;
}

.container form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

</style>
<div class="container">
    <h1>Edit {{lesson.name}} Lesson</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="lesson_name">Lesson Name:</label>
        <input type="text"  name="lesson_name" value="{{lesson.name}}">
        <label for="lesson_name">Lesson Content:</label>
        <textarea rows="4" name="lesson_content">{{ lesson.content }}</textarea>
        <br> <br>
        <button type="submit">Save Changes</button>
    </form>
</div
{% endblock %}