{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    .container1 {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .question {
            font-size: 18px;
            margin-bottom: 15px;
        }
        .options {
            list-style-type: none;
            padding: 0;
        }
        .options li {
            margin-bottom: 10px;
        }
        .submit-button {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
</style>
<h2 style="text-align: center;">Quiz Answers</h2>
<div class="container1">
    {% for q , ans in quiz_answer.items %}
    <p style="font-weight: bold; color: black;">Q{{forloop.counter}}. {{q.content}}</p>
    <p style="font-weight: bold;">Student Answer: {{ans.0}}</p>
    {% if ans.1 == True %}
    <p style="color: green; font-weight: bold;">Correct</p>
    {% else %}
    <p style="color: red; font-weight: bold;">Wrong</p>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
